body {
    font-family: monospace;
}

.social_media_icon {
    box-shadow: none;
    height: 66px;
}

h2 {
    font-size: 1em;
}

a.read-more:after {
    content: "\00A0\000BB";
    font-size: 1.5em;
}
